
<html>
  <head></head>
  <body>
    <p> </p>
    <p> Result <%= message %> </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
